img {
    width: 250px;
    margin-bottom: 30px;
}

form {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

input[type='button'] {
    margin-right: 10px;
}