<form>
    <img src="assets/cliente.png">

    <input type="text" placeholder="Nome" class="form-control">
    <input type="number" placeholder="Idade" class="form-control">
    <input type="text" placeholder="Cidade" class="form-control">

    <input type="button" value="Cadastrar" class="btn btn-primary">
    <input type="button" value="Alterar" class="btn btn-warning">
    <input type="button" value="Remover" class="btn btn-danger">
    <input type="button" value="Cancelar" class="btn btn-secondary">
</form>